//Colors
$black: #1a1f3b;
$light-black: #2a2b31;
$graphite: #8b8f9d;
$grey: #8c8f9d;
$pale-grey: #babbc4;
$steel: #d1d2d8;
$light-grey: #eff1f4;
$red: #ff5345;
$green: #68c981;
$white: #ffffff;
$orange: #f39b00;
$orange2: #fdaf00;
$orange3: #fdcd15;
$light-orange: rgba(255, 158, 0, 0.67);
$viridian-green: #036275;
$fountain-blue: #63bbc1;
$fountain-blue-dark: #4ba6aa;
$oxford-blue: #05253f;
$nile-blue: #1d3c53;