.map-page {
  width: 600px;
  margin: 0 auto;
}

.map-page__map {
  padding-top: 20px;
  margin: 0 auto;
}

.map-page__button-menu {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.map-page__scheme-menu {
  padding-top: 20px;
}

.map-page__point-ring {
  cursor: pointer;
}

.map-page__point-ring:hover {
  fill: #26c2ed;
}

.logo {
  width: 120px;
  height: 31px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 16px 24px 16px 0;
  float: left;
}